@page
@model IndexModel
@{
    ViewData["Title"] = "Home";
}

<style>
    body {
        font-family: Arial, sans-serif;
    }

    .container {
        max-width: 800px;
        margin: 0 auto;
        padding: 20px;
    }

    .header {
        text-align: center;
        font-weight: bold;
        font-size: 24px;
        margin-bottom: 20px;
    }

    .product-link {
        text-decoration: none;
        color: black;
    }

    .product {
        display: flex;
        align-items: center;
        padding: 10px;
        margin-bottom: 20px;
    }

        .product .product-details {
            display: flex;
            align-items: center;
        }

        .product a {
            text-decoration: none;
            color: #333;
            display: flex;
            align-items: center;
        }

        .product .product-image {
            max-width: 200px; 
            margin-right: 10px; 
        }

    .product-info {
        flex-grow: 1;
    }
</style>

<div class="container">
    <div class="header">Popular Records</div>

    @foreach (var product in Model.Products)
    {
        if (product != null)
        {
            <a href="/Record/@product.Id" class="product-link">
                <div class="product">
                    <div class="product-details">
                        <img src="@product.ImageURL" alt="Product Image" class="product-image">
                        <div class="product-info">
                            <h3>@product.Name</h3>
                            <p>Artist: @product.Artist</p>
                            <p>Price: @product.Price</p>
                            <p>Rating: @product.Rating</p>
                            <p>Reviews: @product.Reviews</p>
                        </div>
                    </div>
                </div>
            </a>
        }
    }
</div>